= render layout: "devise/shared/foundation_layout", locals: { title: t(".forgot_your_password", default: "Forgot your password?") } do
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .grid-x.grid-padding-x
      .cell
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .cell
        = f.submit t(".send_me_reset_password_instructions", default: "Send me password reset instructions"), class: "button expanded"
  = render "devise/shared/links"
